<html>
    
<body>
    <form action="/action_page.php">
        <div class="container">
            
            <h2>Contact Form</h2>
            <hr>
            <label for="fname"><b>First Name </b></label>
            <pre></pre>
            <input type="text" placeholder="Enter First Name" name="fname" id="fname" required >
            <br>
            <label for="lname"><b>Last Name</b></label>
            <pre></pre>
            <input type="text" placeholder="Enter Last Name" name="lname" id="lname" required>
            <br>

            <label for="Country"><b>Country </b> </label>
            <pre></pre>
            <select name="Country" id="country">&emsp;
                <option>Select Country</option>
                <option value="India">India</option>
                <option value="Australia">Australia</option>
                <option value="Brazil">Brazil</option>
                <option value="South Africa">South Africa</option>
            </select><br />

            <label for="subject"><b>Subject </b></label>
            <pre></pre>
            <textarea rows = "10" cols = "80" name = "subject">
                Write Something...
             </textarea><br>

             <button type="submit" class="submitbtn">Submit</button>
        </div>
    </form>
</body>

</html>